{% set server_url_arr = [] %}
{% if server_url == '' %}
  {% for master in groups['masters'] %}
    {% set vars = hostvars[master] %}
    {% set _ = server_url_arr.append('https://' + vars.node_ip + ':6443') %}
  {% endfor %}
{% endif %}
[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
Wants=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=exec
EnvironmentFile=/etc/systemd/system/k3s-agent.service.env
KillMode=process
Delegate=yes
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitCORE=0
LimitNPROC=infinity
LimitMEMLOCK=infinity
LimitNOFILE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/usr/local/bin/k3s \
  agent \
    --node-name {{ node_name }} \
    --node-ip {{ node_ip }} \
    --kubelet-arg allowed-unsafe-sysctls=net.core.somaxconn \
    --kubelet-arg pods-per-core={{ pods_per_core }} \
    --kube-proxy-arg metrics-bind-address=0.0.0.0 \
{% if enable_ip_vs == 'true' %}
    --kube-proxy-arg proxy-mode=ipvs \
    --kube-proxy-arg ipvs-scheduler={{ ip_vs_mode }} \
{% endif %}
{% if server_url != '' %}
    --server {{ server_url }} \
{% else %}
    --server {{ server_url_arr | join(',') }} \
{% endif %}
    -t {{ server_token }}
