---
- name: Install Monitoring Tools Packages
  apt:
    name: "{{ item }}"
    force_apt_get: yes
    update_cache: yes
    state: present
  with_items:
    - htop
    - iftop
    - iostat
    - nmon
