---
- name: Set Sysctl for 'vm.max_map_count'
  sysctl:
    name: vm.max_map_count
    value: 262144
    sysctl_file: /etc/sysctl.conf
    sysctl_set: yes
    reload: no
    state: present

- name: Set Sysctl for 'net.core.somaxconn'
  sysctl:
    name: net.core.somaxconn
    value: 4096
    sysctl_file: /etc/sysctl.conf
    sysctl_set: yes
    reload: no
    state: present

- name: Set Sysctl for 'net.ipv6.conf.default.disable_ipv6'
  sysctl:
    name: net.ipv6.conf.default.disable_ipv6
    value: 1
    sysctl_file: /etc/sysctl.conf
    sysctl_set: yes
    reload: no
    state: present

- name: Set Sysctl for 'net.ipv6.conf.all.disable_ipv6'
  sysctl:
    name: net.ipv6.conf.all.disable_ipv6
    value: 1
    sysctl_file: /etc/sysctl.conf
    sysctl_set: yes
    reload: no
    state: present

- name: Set Sysctl for 'net.ipv6.conf.lo.disable_ipv6'
  sysctl:
    name: net.ipv6.conf.lo.disable_ipv6
    value: 1
    sysctl_file: /etc/sysctl.conf
    sysctl_set: yes
    reload: no
    state: present

- name: Set Sysctl for 'net.ipv4.tcp_mem'
  sysctl:
    name: net.ipv4.tcp_mem
    value: "116730 155640 233460"
    sysctl_file: /etc/sysctl.conf
    sysctl_set: yes
    reload: no
    state: present

- name: Set Sysctl for 'net.core.rmem_max'
  sysctl:
    name: net.core.rmem_max
    value: 16777216
    sysctl_file: /etc/sysctl.conf
    sysctl_set: yes
    reload: no
    state: present

- name: Set Sysctl for 'net.core.wmem_max'
  sysctl:
    name: net.core.wmem_max
    value: 16777216
    sysctl_file: /etc/sysctl.conf
    sysctl_set: yes
    reload: no
    state: present

- name: Set Sysctl for 'net.ipv4.tcp_rmem'
  sysctl:
    name: net.ipv4.tcp_rmem
    value: "4096 87380 16777216"
    sysctl_file: /etc/sysctl.conf
    sysctl_set: yes
    reload: no
    state: present

- name: Set Sysctl for 'net.ipv4.tcp_wmem'
  sysctl:
    name: net.ipv4.tcp_wmem
    value: "4096 65536 16777216"
    sysctl_file: /etc/sysctl.conf
    sysctl_set: yes
    reload: no
    state: present

- name: Set Sysctl for 'net.ipv4.tcp_max_orphans'
  sysctl:
    name: net.ipv4.tcp_max_orphans
    value: 24576
    sysctl_file: /etc/sysctl.conf
    sysctl_set: yes
    reload: no
    state: present

- name: Set Sysctl for 'net.core.netdev_max_backlog'
  sysctl:
    name: net.core.netdev_max_backlog
    value: 2500
    sysctl_file: /etc/sysctl.conf
    sysctl_set: yes
    reload: no
    state: present
